h1,
h2,
h3,
h4 {
  text-align: center;
}

.map-view {
  float: right;
  margin: 0;
  padding: 0;
  height: 100%;
  width: 60%;
  min-width: calc(100% - 618px);
  max-width: calc(100% - 418px);
}

.sidebar-container {
  float: left;
  height: 100%;
  width: 40%;
  min-width: 400px;
  max-width: 600px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background: white;
  overflow-x: auto;
  overflow-y: auto;
  padding-left: 9px;
  padding-right: 9px;
  font-family: Arial, Helvetica, sans-serif;
}

.display-initial,
.display-no-data {
  height: 100%;
  width: 100%;
  align-content: center;
  text-align: center;
  vertical-align: middle;
  margin: auto;
  font-size: 1.7rem;
}

.flex-container-row {
  width: 100%;
  text-align: left;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  flex-wrap: wrap;
  align-content: stretch;
  align-items: stretch;
  background: #ffffff;
}

.flex-elem {
  margin: 5px;
}

.rating-bar-overall {
  font-size: 1.5rem;
}

.cell {
  text-align: center;
  display: block;
}

.cell-is-match {
  opacity: 1;
  width: 48%;
}

.cell-no-match {
  opacity: 0.85;
  width: 13%;
}

.cell-very-high {
  background: #c7445d;
  color: white;
  order: 5;
}

.cell-relatively-high {
  background: #e07069;
  color: white;
  order: 4;
}

.cell-relatively-moderate {
  background: #f0d55d;
  color: black;
  order: 3;
}

.cell-relatively-low {
  background: #509bc7;
  color: white;
  order: 2;
}

.cell-very-low {
  background: #4d6dbd;
  color: white;
  order: 1;
}

.cell-no-rating .cell-not-applicable {
  background: white;
}

.centered {
  text-align: center;
}

.result-header {
  padding-top: 9px;
}

.result-header-address {
  font-size: 2rem;
}

.result-header-content {
  font-size: 1.2rem;
}

.result-summary {
  font-size: 1.1rem;
}

.variable-info {
  margin: auto;
  width: 300px;
  margin-top: 15px;
  text-align: center;
}

.variable-info-rated {
  border: 1px solid black;
  color: white;
  border-radius: 5px 5px 0px 0px;
}

.variable-info-unrated {
  border: 1px solid gray;
  border-radius: 5px 5px 5px 5px;
  background: gainsboro;
  color: black;
}

.variable-header {
  font-size: 1.4rem;
  border-radius: 5px 5px 0px 0px;
}

.metric-table {
  text-align: left;
  width: 100%;
  border: 1px solid black;
  border-collapse: collapse;
}

.metric-table-header {
  background: black;
  color: white;
}

.metric-table-row {
  border: 1px solid black;
  background: white;
  color: black;
}

.metric-table-metric {
  padding-left: 5px;
}

.metric-table-value {
  padding-right: 5px;
  text-align: right;
}

.keyfact {
  font-weight: bold;
}
