.map-view {
  float: right;
  margin: 0;
  padding: 0;
  height: 100%;
  width: 60%;
  min-width: calc(100% - 600px);
  max-width: calc(100% - 400px);
}

.sidebar-container {
  float: left;
  height: 100%;
  width: 40%;
  min-width: 400px;
  max-width: 600px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background: white;
  overflow-x: auto;
  overflow-y: auto;
  padding-top: 20px;
}

.sidebar-content {
  padding: 9px;
}

.flex-container-row {
  width: 100%;
  text-align: left;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  flex-wrap: wrap;
  align-content: stretch;
  background: #ffffff;
}

.flex-elem {
  margin: 5px;
}

.cell {
  text-align: center;
}

.cell-is-match {
  opacity: 1;
  font-size: 1.1rem;
  width: 48%;
}

.cell-no-match {
  opacity: 0.85;
  font-size: 0.8rem;
  width: 13%;
}

.cell-very-high {
  background: #c7445d;
  color: white;
  order: 5;
}

.cell-relatively-high {
  background: #e07069;
  color: white;
  order: 4;
}

.cell-relatively-moderate {
  background: #f0d55d;
  color: black;
  order: 3;
}

.cell-relatively-low {
  background: #509bc7;
  color: white;
  order: 2;
}

.cell-very-low {
  background: #4d6dbd;
  color: white;
  order: 1;
}

.variable-info {
  margin-top: 15px;
  text-align: center;
  color: white;
  border: 1px solid black;
  border-radius: 5px 5px 0px 0px;
}

.variable-header {
  font-size: 1.4rem;
  border-radius: 5px 5px 0px 0px;
}

.metric-table {
  text-align: left;
  width: 100%;
  border: 1px solid black;
  border-collapse: collapse;
}

.metric-table-header {
  background: black;
  color: white;
}

.metric-table-row {
  border: 1px solid black;
  background: white;
  color: black;
}

.metric-table-metric {
  padding-left: 5px;
}

.metric-table-value {
  padding-right: 5px;
  text-align: right;
}
